{extend name="base" /}
{block name="head"}
<style type="text/css">
	body{background-color: #fff;}
	.at-index{padding-top: 20px;padding-bottom: 100px;}
	/*.layui-form-item{text-align: center;}*/
	.strtotime-box{background-color: #efefef;padding: 8px 3px 2px;}
	.form-group{padding: 10px 0px;}
	.index_list{padding: 5px 0px;}
	.index_list .layui-inline{max-width: 20%;}
	.select_value{display: none;}
	.table-box,.create-file{width: 80%;margin:0 auto;}
	.preview{margin:0 auto;}
</style>
<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.3.3/vue.min.js"></script>
{/block}
{block name="main"}
<div class="at-index" id="at-index">
	<fieldset class="layui-elem-field layui-field-title">
	 	<legend>生成【{$at_name}】功能({$at_table}表)</legend>
	</fieldset>

	<form class="layui-form" action="{:Url('admin/at/createFile')}" method="post">
		<div class="form-group">
			<blockquote class="layui-elem-quote">
				控制器，模块，验证
			</blockquote>
			<div class="layui-form-item strtotime-box">
				<div class="layui-inline">
					<label class="layui-form-label">操作时间戳</label>
					<input type="checkbox" lay-filter="openTime" name="open_time" lay-skin="primary" checked >
				</div>

			  	<div class="layui-inline">
				    <label class="layui-form-label">创建时间戳</label>
				    <div class="layui-input-block">
				    	<input type="text"  class="layui-input modelTime" name="create_time" value="create_time" >
				    </div>
			  	</div>
			  	<div class="layui-inline">
				    <label class="layui-form-label">更新时间戳</label>
				    <div class="layui-input-block">
				    	<input type="text" class="layui-input modelTime" name="update_time" value="update_time" >
				    </div>
			  	</div>
			</div>
		</div>

		<div class="form-group">
			<blockquote class="layui-elem-quote">
				页面
			</blockquote>

			<div class="table-box">
				<table class="layui-table" lay-even>
					<thead>
						<tr>
							<th width="15%">字段</th>
							<th width="25%">字段名字</th>
							<th width="20%">字段类型</th>
							<th width="30%">操作</th>
						</tr> 
					</thead>
					<tbody>
						{volist name="fields" id="field"}
							<tr>
								<td>
								  	{$field.alias}
								</td>
								<td>
								    <input type="text" class="layui-input" name="name[{$field.alias}]" value="{$field.name}">
								</td>
								<td>
									<div class="layui-block">
								    	<select name="type[{$field.alias}]"  lay-filter="type">
											<option value="input">文本</option>
											<option value="password">密码</option>
											<option value="select">select</option>
											<option value="image">图片</option>
											<option value="editor">编辑器</option>
								    	</select>
									</div>
									<div class="layui-block select_value">
										<input type="text" name="default[{$field.alias}]" class="layui-input" placeholder="例如：0=>未审核,1=>通过,2=>不通过">
									</div>
								</td>
								<td>
									<div class="layui-inline">
										<input type="checkbox" name="is_list[{$field.alias}]" lay-skin="primary" title="列表页" checked value="1">
									</div>
									<div class="layui-inline">
										<input type="checkbox" name="is_edit[{$field.alias}]" lay-skin="primary" title="操作页" checked value="1">
									</div>
									<div class="layui-inline">
										<input type="checkbox" name="notnull[{$field.alias}]" lay-skin="primary" title="必填" <?php if($field['notnull']){echo 'checked';}?> value="1">
									</div>
								</td>

							</tr>
						{/volist}
					</tbody>
				</table>

			</div>

		</div>

		<div class="layui-form-item" style="text-align:center;">
			<div class="layui-input-block">
				<input type="hidden" name="at_table" value="{$at_table}">
				<input type="hidden" class="layui-input" name="at_name" value="{$at_name}">
				<button type="button" class="layui-btn" lay-submit lay-filter="formDemo">配置完成</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		layui.use('form', function(){
	  	var form = layui.form();

			form.on('submit(formDemo)', function(data){
				$.ajax({ 
					type: "post", 
					url: data.form.action, 
					data: data.field,
					success: function(result){
						$(".create-file").css("display","block");
					} 
				});

				return false;
			});

			form.on('select(type)', function(data){
				if(data.value == 'select'){
					$(this).parent().parent().parent().parent().find(".select_value").css("display","block");
				}else{
					$(this).parent().parent().parent().parent().find(".select_value").css("display","none");
				}
			});

			form.on('checkbox(openTime)', function(data){
				var checked = $(this).attr("checked");
				if(checked != undefined){
					$(this).removeAttr("checked");
					$(".modelTime").attr("disabled",true);
					$(".modelTime").css("text-decoration",'line-through');
				}else{
					$(this).attr("checked", true);
					$(".modelTime").removeAttr("disabled");
					$(".modelTime").css("text-decoration",'none');
				}
				console.log( checked == undefined );
			});
  

		})
	</script>



	<div class="create-file" style="display:none;">
		{volist name="files" id="file"}
			<div class="layui-form-item">
				<label class="layui-form-label">文件名</label>
				<div class="layui-input-inline" style="width: 60%;">
					{if $file['isExist'] == true}
						<input type="text" style="color: red;" class="layui-input" value="{$file.filename}(已存在)" disabled="disabled">
					{else/}
						<input type="text" class="layui-input" value="{$file.filename}" disabled="disabled">
					{/if}
				</div>
				<div class="layui-input-inline" style="width: 20%;">
					<div class="layui-btn-group">
						<button type="button" data-isexist=true onclick="create('{$key}',this)" class="layui-btn layui-btn-small create-btn">生成</button>
					</div>
				</div>
			</div>
		{/volist}


		<div class="layui-block">
			<div class="layui-input-block">
				<input type="hidden" name="typeFile" value="createModel">
				<button type="button" onclick="create('all')" class="layui-btn">生成文件</button>
			</div>
		</div>



		<script type="text/javascript">
			function create(file, obj = null){
				if(file != 'all'){
					if($(obj).data("isexist")){
						layer.confirm('文件已经存在是否再次生成？', {
						  btn: ['是','否'] //按钮
						}, function(){
							$.ajax({ 
								type: "post", 
								url: "startCreate", 
								data: {filename:file},
								dataType: 'json', 
								success: function(result){ 
									if(result['code'] == 1){
										layer.msg(result['msg']);
									}else{
										layer.msg(result['msg']);
										// $(that).removeAttr("disabled");
									}
								} 
							});
						}, function(){
							return;
						});
					}else{
						$(obj).data("isexist",true);
					}
				}else{
					var flag = false;
					$(".create-btn").each(function(){
						if($(this).data("isexist")){
							flag = true;
						}
					});
					layer.confirm('文件已经有存在是否再次生成？', {
					  btn: ['是','否'] //按钮
					}, function(){
						$.ajax({ 
							type: "post", 
							url: "startCreate", 
							data: {filename:file},
							dataType: 'json', 
							success: function(result){ 
								if(result['code'] == 1){
									layer.msg(result['msg']);
								}else{
									layer.msg(result['msg']);
									// $(that).removeAttr("disabled");
								}
							} 
						});
					}, function(){
						return;
					});
				}
			}
		</script>

	</div>
</div>
{/block}




