<div class="boke-wrap">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">角色列表</li>
            <li><a href="{:Url('add')}">添加角色</a></li>
        </ul>
    </div>

    <div class="boke-table">
        <table class="layui-table layui-form">
            <thead>
                <tr>
                    <th width="3%"><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                    
<th>角色名称</th>
<th>父角色ID</th>
<th>排序字段</th>
<th>备注</th>
<th>创建时间</th>
<th>更新时间</th>
<th>状态</th>
                    <th width="10%">操作</th>
                </tr> 
            </thead>
            <tbody>
                {volist name="list['data']" id="vo"}
                    <tr data-id="{$vo.id}">
                        <td><input type="checkbox" name="checkboxId[]" lay-skin="primary" value="{$vo.id}" ></td>
                        
<td class='layui-elip'>{$vo.name}</td>
<td class='layui-elip'>{$vo.pid}</td>
<td class='layui-elip'>{$vo.sort}</td>
<td class='layui-elip'>{$vo.remark}</td>
<td class='layui-elip'>{$vo.create_time}</td>
<td class='layui-elip'>{$vo.update_time}</td>
<td class='layui-elip'>{$vo.status}</td>
                        <td>
                            <a class="layui-btn layui-btn-mini" href="{:Url('edit')}?id={$vo['id']}">编辑</a>
                            <a class="layui-btn layui-btn-mini layui-btn-danger" href="javascript:;" onclick="del({$vo.id})" >删除</a>
                        </td>
                    </tr>
                {/volist}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10"><button onclick="deleteAll()" class="layui-btn layui-btn-small">删除</button></td>
                </tr>
            </tfoot>
        </table>

        <div class="page">
            <div id="page"></div>
        </div>
    </div>

    <script type="text/javascript">
        layui.use(['laypage', 'layer','form'], function(){
            var laypage = layui.laypage
            ,layer = layui.layer;
            laypage({
                cont: 'page'
                ,pages: {$list['pages']} //总页数
                ,groups: 5 //连续显示分页数
                ,curr: {$list['curPage']}
                ,skip: true
                ,jump: function(obj, first){
                    if(!first){
                        var url = window.location.href;
                        if(url.indexOf("?")==-1){
                            window.location.href = url+"?page="+obj.curr;
                        }else{
                            if(url.indexOf("page")==-1){
                                window.location.href = url+"&page="+obj.curr;
                            }else{
                                window.location.href = url.replace(/page=\d*/, 'page='+obj.curr)
                            }                                        
                        }
                    }                       
                }
            });
            var form = layui.form();
            //全选
            form.on('checkbox(allChoose)', function(data){
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

        });

        function deleteAll(){
            var ids = [];
            $($("input[name='checkboxId[]']")).each(function(){
                if( this.checked ){
                    ids.push($(this).val());
                }
            });
            del(ids);
        }

        function del(id){
            layer.confirm('是否确定删除？', {
                btn: ['是','否'] //按钮
            }, function(){
                $.ajax({
                    type : 'post',
                    url : "{:Url('deleteAll')}",
                    data : {id:id},
                    dataType: 'json',
                    success: function(result){
                        if(result['status'] == 200){
                            if($.isArray(id)){
                                $(id).each(function(index,value){
                                    console.log(value);
                                    $("tr[data-id="+value+"]").remove();
                                });
                            }else{
                                $("tr[data-id="+id+"]").remove();
                            }
                            
                            layer.closeAll();
                        }else{
                            layer.msg(result.msg);
                        }
                    }
                });
            });
        }
    </script>
</div>
