<style type="text/css">
body{background-color: #fff;}
</style>
<div class="at-create" style="padding: 10px;">
	<form class="layui-form" action="{:Url('admin/at/createFile')}" method="post">

	  	<div class="layui-inline">
		    <label class="layui-form-label">表名</label>
		    <div class="layui-input-block">
		    	<input type="text" class="layui-input" name="tableName">
		    </div>
	  	</div>

		<div class="layui-inline">
			<div class="layui-input-block">
				<input type="hidden" name="typeFile" value="createModel">
				<button class="layui-btn" lay-submit lay-filter="formDemo">生成文件</button>
			</div>
		</div>
	</form>



	<script type="text/javascript">
		layui.use('form', function(){
	  		var form = layui.form();

			form.on('submit(*)', function(data){
				return true; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
		})
	</script>

</div>