<head>
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui@next/lib/theme-default/index.css">
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@1.3.4/lib/index.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
<style type="text/css">
  *{margin:0px;padding: 0px;}
  .nav{height: 60px;line-height: 60px;background-color: #324057;}
  .nav .logo{font-family: "PingFang SC";font-size: 20px;margin-left: 35px;color: #fff;}
  .nav .logo i{margin-right: 5px;}
  .nav .el-menu{padding-right: 10px;}
  .nav .el-menu li{float: right;}
  .nav .el-menu a{color: #c0ccda;text-decoration: none;}
  .left-menu{}
  .page-content{}
  .el-tabs,.el-tabs__content,#main-iframe{width: 100%;border:0px;height: 100%;}
  .tag-box{height: 30px;overflow: hidden;}
  .tag-box .el-tag{padding:3px 8px;}
</style>
</head>
<body>
<div id="main">
  <el-row class="nav">
    <el-col :span="4">
      <div class="logo"><i class="el-icon-document"></i>管理后台</div>
    </el-col>
    <el-col :span="20">
      <el-menu theme="dark" :default-active="activeIndex" class="el-menu" mode="horizontal" @select="handleSelect">
        <el-submenu index="2">
          <template slot="title">我的</template>
          <el-menu-item index="2-1">个人设置</el-menu-item>
          <el-menu-item index="2-2">站点设置</el-menu-item>
          <el-menu-item index="2" v-on:click="exit()">
          退出
          </el-menu-item>
        </el-submenu>
        <el-menu-item index="2" v-on:click="flush()">
          <a href="javascript:;">清除缓存</a>
        </el-menu-item>
        <el-menu-item index="2">
          <a href="/" target="_blank">预览</a>
        </el-menu-item>
      </el-menu>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="4" class="left-menu">
      <div class="grid-content bg-purple-dark">
        <el-row class="tac">
          <el-col :span="24">
            <el-menu class="el-menu-vertical-demo">
              {$userMenu}
            </el-menu>
          </el-col>
        </el-row>
      </div>
    </el-col>
    <el-col :span="20" class="page-content" :style="{height: height + 'px' }">
      <div class="tag-box">
        <el-tag type="gray"><a href="javascript:;" v-on:click="tagClick({'url':default_main_src})">首页</a></el-tag>
        <el-tag
          v-for="(tag,key) in tags"
          :key="key"
          :closable="true"
          :type="tag.type"
          @close="handleClose(key)"
          
        >
          <a href="javascript:;" v-on:click="tagClick(tag)">{{tag.name}}</a>
        </el-tag>
      </div>

      <iframe id="main-iframe" :src="main_src"></iframe>
      
    </el-col>
  </el-row>
</div>
</body>
<!-- 先引入 Vue -->
<script>
var Main = {
    data() {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        height: (window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight) - 90,
        default_main_src: "{:Url('content')}",
        main_src: "{:Url('content')}",
        tags: [
          // {'name': '1312123',
          // 'type':'',}
        ],
      };
    },
    created: function(){

    },
    methods: {
      exit(){
        window.location.href="{:Url('Common/logout')}"
      },
      flush(){
        // layer.msg('清楚缓存成功');
      },

      handleSkipUrl(url,name,id){
        this.main_src = url;
        var is_add = false;
        for (var i in this.tags) {
          this.tags[i].type = "gray";
          if(this.tags[i].id == id){
            this.tags[i].type = "";
            is_add = true;
          }
          
        }
        if(!is_add){
          this.tags.push({name:name,url:url,id:id,type:''});
        }
      },
      handleClose(key) {
        var tag_length = this.tags.length;
        if(key == tag_length - 1&&this.tags[key].type==''){
          if(this.tags.length <= 1){
            this.main_src = this.default_main_src;
          }else{
            this.tags[key].type='gray';
            this.tags[key - 1].type='';
            this.main_src = this.tags[key - 1].url;
          }
        }
        this.tags.splice(key, 1);
      },
      tagClick(tag){
        this.main_src = tag.url;
        for (var i in this.tags) {
          this.tags[i].type = "gray";
          if(this.tags[i].id == tag.id){
            this.tags[i].type = "";
          }
        }
      },

      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      }
    }
  }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#main')
</script>