<div class="boke-wrap">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">菜单列表</li>
            <li><a href="{:Url('add')}">添加菜单</a></li>
        </ul>
    </div>

    <div class="">
        <table class="layui-form layui-table" lay-skin="line">
            <colgroup>
                <col width="50">
                <col width="100">
                <col>
                <col width="100">
                <col width="200">
            </colgroup>

            <thead>
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                    <td>id</td>
                    <th>分类名字</th>
                    <th>排序</th>
                    <th>操作</th>
                </tr> 
            </thead>
            <tbody>
                {volist name="list" id="vo"}
                    <tr data-id="{$vo.id}">
                        <td><input type="checkbox" name="" lay-skin="primary"></td>
                        <td>{$vo.id}</td>
                        <td>
                            {$vo.name}
                        </td>
                        <td><input class="layui-input" type="text" value="{$vo.sort}"></td>
                        <td>
                            <a class="layui-btn layui-btn-mini" href="{:Url('edit')}?id={$vo['id']}">编辑</a>
                            <a class="layui-btn layui-btn-mini layui-btn-danger" href="javascript:;" onclick="del({$vo.id})" >删除</a>
                        </td>
                    </tr>
                {/volist}
            </tbody>
            <tfoot>
                <tr>
                    <td><button class="layui-btn layui-btn-small">删除</button></td>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script type="text/javascript">
        layui.use(['layer','form'], function(){
            var layer = layui.layer;
            var form = layui.form();
            //全选
            form.on('checkbox(allChoose)', function(data){
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                child.each(function(index, item){
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

        });

        function deleteAll(){
            var ids = [];
            $($("input[name='checkboxId[]']")).each(function(){
                if( this.checked ){
                    ids.push($(this).val());
                }
            });
            del(ids);
        }

        function del(id){
            layer.confirm('是否确定删除？', {
                btn: ['是','否'] //按钮
            }, function(){
                $.ajax({
                    type : 'post',
                    url : "{:Url('deleteAll')}",
                    data : {id:id},
                    dataType: 'json',
                    success: function(result){
                        if(result['status'] == 200){
                            if($.isArray(id)){
                                $(id).each(function(index,value){
                                    console.log(value);
                                    $("tr[data-id="+value+"]").remove();
                                });
                            }else{
                                $("tr[data-id="+id+"]").remove();
                            }
                            
                            layer.closeAll();
                        }else{
                            layer.msg(result.msg);
                        }
                    }
                });
            });
        }
    </script>
</div>
