<nav class="fy_nav">
	<?php $menu = (new app\common\model\MMenu())->getTreeArray();?>
	<i class="fa fa-list" onclick="showNav()"></i>
	<ul class="layui-nav layui-nav-tree">
		{volist name='menu' id='vo'}
			<li class="layui-nav-item">
				{if condition="!empty($vo['child'])"}
					<a href="javascript:;">{$vo.name}</a>
					<dl class="layui-nav-child">
					{volist name="vo['child']" id='v'}
						<dd><a href="{$v.url}">{$v.name}</a></dd>
					{/volist}
					</dl>
				{else/}
					<a href="{$vo.url}">{$vo.name}</a>
				{/if}
			</li>
		{/volist}
	</ul>

	<div class="logo">
		FUYUN-博客
	</div>
	<ul class="layui-nav">
		{volist name='menu' id='vo'}
			<li class="layui-nav-item">
				{if condition="!empty($vo['child'])"}
					<a href="javascript:;">{$vo.name}</a>
					<dl class="layui-nav-child">
					{volist name="vo['child']" id='v'}
						<dd><a href="{$v.url}">{$v.name}</a></dd>
					{/volist}
					</dl>
				{else/}
					<a href="{$vo.url}">{$vo.name}</a>
				{/if}
			</li>
		{/volist}
	</ul>
 
<script>
//注意：导航 依赖 element 模块，否则无法进行功能性操作
layui.use('element', function(){});

function showNav(){
	$(".layui-nav-tree").toggle();
}
</script>
</nav>